.introduction {
  padding-top: 75px;
  padding-bottom: 75px;
  width: 100%;
  height: fit-content;
  background-color: black;
}

.headingWrapper {
  display: flex;
  width: 65%;
  padding: 14px 14px 14px 20px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

.textWrapper {
  margin-top: 30px;
  display: flex;
  color: white;
  flex-direction: column-reverse;
  align-items: center;
}

.introductionText {
  text-align: left;
  font-size: 14px;
  margin: 0;
}

.introductionText h3 {
  margin-bottom: 10px;
}

.wrapper {
  text-align: right;
  padding-right: 20px;
  margin-right: -20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.imgWrapper {
  width: 100%;
  height: auto;
  border-radius: 25px;
  overflow: auto;
}

.imgWrapper img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.nameWrapper {
  font-size: 12px;
  padding-top: 10px;
}

.name {
  font-weight: 700;
}

@media (min-width: 480px) and (max-width: 767px) {
  .headingWrapper {
    font-size: 14px;
    padding-left: 40px;
  }

  .textWrapper {
    margin-top: 50px;
  }

  .wrapper {
    max-width: 350px;
    padding-right: 40px;
    margin-right: -40px;
    padding-bottom: 20px;
    margin-bottom: -20px;
  }
}

@media (min-width: 768px) {
  .introduction {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .headingWrapper {
    width: 55%;
    padding: 20px 20px 20px 90px;
    font-size: 16px;
  }

  .textWrapper {
    flex-direction: row;
    -webkit-align-items: flex-start;
    align-items: flex-start;

    margin-top: 50px;
  }

  .introductionText {
    width: 60%;
    margin-right: 20px;
    font-size: 16px;
  }

  .wrapper {
    width: 40%;
    text-align: right;
    padding-right: 40px;
    margin-right: -40px;
    padding-bottom: 20px;
    margin-bottom: -20px;
  }

  .nameWrapper {
    font-size: 13px;
  }
}

@media (min-width: 1200px) {
  .introduction {
    padding-top: 130px;
    padding-bottom: 130px;
  }

  .headingWrapper {
    padding: 25px 25px 25px 120px;
    font-size: 18px;
  }

  .textWrapper {
    flex-direction: row;
    margin-top: 60px;
  }

  .introductionText {
    margin-right: 50px;
    font-size: 18px;
  }

  .wrapper {
    background-repeat: no-repeat;
    background-position: right 0 bottom 0;
    padding-right: 80px;
    margin-right: -80px;
    padding-bottom: 40px;
    margin-bottom: -40px;
  }
}

@media (min-width: 1400px) {
  .introduction {
    padding-top: 220px;
    padding-bottom: 220px;
  }

  .headingWrapper {
    width: 55%;
    padding: 35px 35px 35px 240px;
    font-size: 20px;
  }

  .textWrapper {
    flex-direction: row;
    margin-top: 80px;
  }

  .introductionText {
    margin-right: 50px;
    font-size: 18px;
  }

  .imgWrapper {
    height: fit-content;
  }
  .wrapper {
    width: 370px;
  }
}
