.section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  padding-top: 100px;
  padding-bottom: 50px;
}

.section a {
  text-decoration: none;
}

.wrapper {
  max-width: 400px;
}

.imgWrapper {
  position: relative;
}

.wrapper img {
  max-width: 100%;
  height: auto;
}

.wrapper p {
  padding-top: 20px;

  margin: 0;
}

.expandBtn {
  position: absolute;
  bottom: -16px;
  left: -2px;
  padding: 0px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  background-color: rgb(148, 194, 62);
  border: 3px solid rgb(255, 255, 255);
  border-radius: 50%;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper:nth-child(odd) .expandBtn {
  background-color: rgb(135, 46, 172);
}

.wrapper:last-child .expandBtn {
  background-color: rgb(148, 194, 62);
}

.link {
  text-decoration: underline;
}

.description {
  font-size: 14px;
}

.description a {
  position: relative;
  color: rgb(88, 89, 91);
  text-decoration: none;
  font-weight: 700;
  border-bottom: 1px solid rgb(88, 89, 91);
}
.description a::after {
  position: absolute;
  top: 10px;
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  color: rgb(88, 89, 91);
}

.description ul {
  list-style-type: disc;
}

.imgWrapper:hover .description,
.imgWrapper:focus .description {
  transform: translateY(0%);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 480px) and (max-width: 767px) {
  .section {
    padding-top: 120px;
    padding-bottom: 50px;
  }

  .wrapper {
    max-width: 588px;
  }

  .description {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .section {
    padding-top: 140px;
    padding-bottom: 100px;
  }

  .wrapper {
    max-width: 600px;
  }

  .description {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .section {
    padding-top: 180px;
    padding-bottom: 120px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    max-width: 920px;
  }
  .wrapper:nth-child(6) {
    grid-column: 1;
  }
  .description {
    font-size: 18px;
  }
}
