.header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  background-image: url("../../imgs/mobile/header/header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding-top: 35px;
  padding-left: 20px;
  padding-bottom: 35px;
}

.headerLabel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  padding-right: 20px;
  margin-bottom: 150px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  background-color: rgba(102, 45, 145, 0.9);
  color: #ffffff;
  font-family: "CirceRounded";
  font-weight: 900;
  font-size: 13px;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.missionWrapper {
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  border-top-left-radius: 65px;
  border-bottom-left-radius: 65px;
  padding: 25px 20px 25px 50px;
  text-align: left;
  font-size: 12px;
  font-weight: 700;
  color: #58595b;
}

.missionHeading {
  color: rgba(102, 45, 145);
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  line-height: 164.9%;
}

@media (min-width: 480px) and (max-width: 767px) {
  .header {
    padding-left: 40px;
  }

  .headerLabel {
    padding: 15px;
    font-size: 14px;
  }

  .logo {
    width: 120px;
  }

  .missionHeading {
    font-size: 13px;
  }

  .missionWrapper {
    width: 90%;
    padding-right: 40px;
    font-size: 13px;
  }
}

@media (min-width: 768px) {
  .header {
    padding-top: 90px;
    padding-left: 90px;
    background-image: url("../../imgs/tablet/header/header-background.jpg");
  }
  .headerLabel {
    font-size: 18px;
    padding: 20px;
    padding-right: 40px;
    margin-bottom: 240px;
  }

  .logo {
    width: 150px;
  }

  .missionHeading {
    font-size: 16px;
  }

  .missionWrapper {
    width: 70%;
    border-top-left-radius: 75px;
    border-bottom-left-radius: 75px;
    padding: 30px 40px 30px 60px;
    text-align: left;
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .header {
    padding-top: 100px;
    padding-bottom: 90px;

    background-image: url("../../imgs/desktop/header/header-background.jpg");
  }
  .headerLabel {
    width: 80%;
    font-size: 26px;
    padding: 20px;
    padding-right: 90px;
    margin-bottom: 220px;
  }

  .logo {
    width: 200px;
  }

  .missionWrapper {
    width: 60%;
    padding: 50px 80px 50px 80px;
    border-top-left-radius: 110px;
    border-bottom-left-radius: 110px;
    text-align: left;
    font-size: 20px;
  }

  .missionHeading {
    font-size: 20px;
  }
}
