.strategy {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-top: 100px;
  padding-bottom: 30px;
}

.headingWrapper {
  display: flex;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
}

.image {
  width: 100%;
}

@media (max-width: 950px) {
  .image {
    margin-top: 60px;
  }
}
