.chapters {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../imgs/mobile/chapters/chapters_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  /* width: 100vw; */
  display: flex;
  /* align-items: center;
  justify-content: center; */
  font-size: 16px;
}

.itemsWrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(20px, 1fr);
  grid-gap: 10px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  min-width: 50%;
  border-radius: 35px;
  background-color: rgba(102, 45, 145, 0.8);
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  transition: 0.5s;
  /* aspect-ratio: 1/1; */
}

.item:hover,
.item:focus{
  transform: scale(1.05);
  cursor: pointer;
  background-color: rgb(102, 45, 145);
  color: #ffffff;
  transition: 0.5s;
}

@media (min-width: 320px) {
  .itemsWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(50px, 1fr);
    grid-gap: 10px;
  }
  .item {
    aspect-ratio: 1/1;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .itemsWrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(130px, 1fr);
    grid-gap: 10px;
    max-width: 480px;
  }
  .item {
    min-height: 130px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .chapters {
    background-image: url("../../imgs/tablet/chapters/chapters-bg.jpg");
    height: 100%;
    background-size: cover;
    font-size: 18px;
  }

  .itemsWrapper {
    grid-template-columns: repeat(4, 1fr);
    /* grid-auto-rows: minmax(130px, 1fr); */
    grid-gap: 10px;
    max-width: 700px;
  }
  .item {
    min-height: 130px;
    padding: 30px;
  }
}

@media (min-width: 1200px) {
  .itemsWrapper {
    grid-template-columns: repeat(5, 1fr);
    /* grid-gap: 20px; */
  }
  .chapters {
    padding-top: 120px;
    padding-bottom: 120px;
    font-size: 20px;
    background-image: url("../../imgs/desktop/chapters/chapters-background.jpg");
  }

  .item {
    padding: 35px;
  }
}
@media (min-width: 1400px) {
  .chapters {
    padding-top: 240px;
    padding-bottom: 240px;
  }

  /* .item {
    min-height: 190px;
    
  } */
}
