@font-face {
  font-family: 'CirceRounded';
  font-weight: 900;
  src: local('CirceRounded'), url(./fonts/CirceRounded-Regular3.ttf) format('truetype');
}

@font-face {
  font-family: 'CirceRounded';
  font-weight: 700;
  src: local('CirceRounded'), url(./fonts/CirceRounded-Regular4.ttf) format('truetype');
}

@font-face {
  font-family: 'CirceRounded';
  font-weight: 600;
  src: local('CirceRounded'), url(./fonts/CirceRounded-Regular5.ttf) format('truetype');
}

.App {
  text-align: left;
  font-family: 'CirceRounded';
  font-weight: 600;
  color: #58595b;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
